[submodule "modules/whitelist-transfer-hook"]
	path = modules/whitelist-transfer-hook
	url = https://github.com/Dev050x/whitelist-transfer-hook.git
[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/Dev050x/whitelist-transfer-hook.git
