[submodule "modules/whitelist-transfer-hook"]
	path = modules/whitelist-transfer-hook
	url = https://github.com/Dev050x/whitelist-transfer-hook.git
[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/Dev050x/whitelist-transfer-hook.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/Dev050x/escrow_litesvm.git
[submodule "MagicBlock-ER-VRF"]
	path = MagicBlock-ER-VRF
	url = https://github.com/Dev050x/MagicBlock-ER-VRF.git
[submodule "vault_and_transfer_hook_token_extension"]
	path = vault_and_transfer_hook_token_extension
	url = https://github.com/Dev050x/vault_and_transfer_hook_token_extension.git
[submodule "JudgeGPT"]
	path = JudgeGPT
	url = https://github.com/Dev050x/JudgeGPT.git
[submodule "Pinocchio-Escrow"]
	path = Pinocchio-Escrow
	url = https://github.com/Dev050x/Pinocchio-Escrow.git
